* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section,
main,
footer {
    padding: 0 8vw;
}


header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.logo {
    height: 18px;
}


section {
    background-color: #2c2640;
    display: flex;
    justify-content: space-between;
    padding-top: 5vw;
    padding-bottom: 5vw;
    position: relative;
}

section .left,
section .right {
    
}


section .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1 {
    color: white;
    font-size: 45px;
    margin-bottom: 30px;
}


section .left p {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    padding-right: 10px;
}


section .left button {
    color: white;
    background-color: transparent;
    margin-bottom: 30px;
    padding: 10px 15px;
    width: 150px;
}


section .right {
    width: 40%;
    border: 1px solid pink;
    position: relative;
}

section .right img {
    width: 30vw;
    position: absolute;
    top: 0;
    left: 0;
}



.left-stripes {
    position: absolute;
    top: 0
    right: ;

}


.right-stripes {
    position: absolute;
    top: 0;
    left: ;
    width: 32vw;
}


main {
    border: 3px solid greenyellow;
    min-height: 500px;
    padding-top: 10vw;
}


